*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #02AABD , #00CDAC);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
  border-radius: 10px;
    width: 500px;
    height: 700px;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding-left: 30px;
    font-family: 'poppins', sans-serif;
    color: rgb(219, 225, 230);
  }

  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border-radius:5px;
    border: none;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  #weight-guide p {
    margin: 15px 4px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(218, 33, 33);
  }
  #conclusion{
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(36, 218, 33);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background: linear-gradient(135deg, #509a73 , #FE90AF);
    padding: 1px 30px;
    border-radius: 8px;
    color: #101110;
    text-decoration: none;
    border: none;
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  